body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="number-slide"],
[class*=" number-slide"] {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  width: 100%;
  font-weight: 500;
  max-height: 100vh;
  overflow: auto;
  max-width: 100%;
}
