@font-face {
  font-family: "Source Sans Pro";
  src: url("/fonts/SourceSansPro-Regular.otf");
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("/fonts/SourceSansPro-Bold.otf");
  font-weight: 700;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("/fonts/SourceSansPro-Black.otf");
  font-weight: 900;
}

.hero_div_1 {
  height: auto;
  width: 100%;
  min-height: 100vh;

  /* UI Properties */
  background: rgba(0, 0, 0, 0.4) url("/assets/images/home/herobg.png") no-repeat
    bottom center / cover;

  opacity: 1;
}

.bg-navbar-dark {
  /* UI Properties */
  background: #25272c 0% 0% no-repeat padding-box;
  color: white;
  opacity: 1;
  height: 60px;
}

.header-nav-link {
  color: white;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-size: 1rem;
}

.img-header {
  width: 50px;
}

.font-rem-3 {
  font-family: "Source Sans Pro";
  font-size: 3rem;
  font-weight: 400;
}

.font-rem-2 {
  font-family: "Source Sans Pro";
  font-size: 2rem;
  font-weight: 400;
}

.font-rem-15 {
  font-family: "Source Sans Pro";
  font-size: 1.5rem;
  font-weight: 400;
}

.font-rem-1 {
  font-family: "Source Sans Pro";
  font-size: 1rem;
  font-weight: 400;
}

.font-rem-08 {
  font-family: "Source Sans Pro";
  font-size: 0.8rem;
  font-weight: 400;
}

.font-rem-05 {
  font-family: "Source Sans Pro";
  font-size: 0.5rem;
  font-weight: 400;
  text-align: center;
}

.font-rem-03 {
  font-family: "Source Sans Pro";
  font-size: 0.3rem;
  font-weight: 400;
}

.title-text {
  font-weight: 700;
  letter-spacing: -1px;
  font-size: 3rem;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .title-text {
    font-size: 1rem;
  }
}

.footer-div {
  background-color: #24272c;
  padding: 20px;
  text-align: center;
  font-size: 0.8rem;
  font-family: "Source Sans Pro";
}

.heavy-font {
  font-family: "Source Sans Pro";
  font-weight: 900 !important;
  letter-spacing: -1px;
}

input.transparent-input {
  background-color: transparent !important;
  border: #707070 1px solid;
}

.spaced-text {
  letter-spacing: 1px !important;
}
